@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');

:root {
    --cor-primaria:rgb(84, 17, 85);
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-quaternaria: rgb(191, 26, 84);

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat',sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color:var(--cor-secundaria);
}

.enfase {
    color: #14043f;
}
.cabecalho {
    padding: 2% 0 0 10%;    
}
.cabecalho__menu {
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link:hover{
    color: var(--cor-quaternaria);
}
.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.apresentacao {
    padding: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--fonte-principal);
}
.apresentacao__conteudo__texto {
    font-size: 20px;
    font-family: var(--fonte-secundaria);
}
.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family:var(--fonte-principal);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 5px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: var(--fonte-secundaria);
}
.apresentacao__links__link:hover {
    background-color: var(--cor-quaternaria);
    padding: 4%;
}
.enfase:hover {
    color: var(--cor-quaternaria);
}
.rodape {
    color: #000000;
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}